<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body>

	<nav th:replace="~{layout :: page_navbar}"></nav>

	<button type="button" class="btn btn-secondary" onclick="history.back()">Retour</button>

	<h1>Creation d'un restaurant :</h1>


	<form  method="post" th:object="${restaurantDto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <div class="container card" style="width: 40%; padding: 12px;">
			<div class="mb-3">
				<label for="restaurantName" class="form-label">Nom du restaurant :</label>
				<div>
					<input type="text" class="form-control" id="restaurantName" placeholder="ex: Bistro de la gare"
						th:field="*{name}">
					<p th:if="${#fields.hasErrors('name')}" class="text-danger"
						th:errors="*{name}"></p>
				</div>
			</div>
			
			<div class="mb-3">
				<label for="restaurantAdress" class="form-label">Adresse :</label>
				<input type="text" class="form-control" id="restaurantAdress" placeholder="ex: 8 rue des frenes"
					th:field="*{adress}">
				<p th:if="${#fields.hasErrors('adress')}" class="text-danger"
					th:errors="*{adress}"></p>
			</div>
			
			<div class="mb-3">
				<label for="restaurantZipCode" class="form-label">Code postale :</label>
				<input type="text" class="form-control" id="restaurantZipCode" placeholder="ex: 75120"
					th:field="*{zipCode}">
				<p th:if="${#fields.hasErrors('zipCode')}" class="text-danger"
					th:errors="*{zipCode}"></p>
			</div>
			
			<div class="mb-3">
				<label for="restaurantCity" class="form-label">Ville :</label>
				<input type="text" class="form-control" id="restaurantCity" placeholder="ex: Paris"
					th:field="*{city}">
				<p th:if="${#fields.hasErrors('city')}" class="text-danger"
					th:errors="*{city}"></p>
			</div>
			
			<div class="mx-auto">
				<button type="submit" class="btn btn-primary">Ajouter</button>
				<a class="btn btn-outline-secondary" href="/restaurants">Annuler</a>
			</div>
		</div>
	</form>


	<footer th:replace="~{layout :: page_footer}"></footer>
</body>

</html>