<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body>

	<nav th:replace="~{layout :: page_navbar}"></nav>

	<button type="button" class="btn btn-secondary" onclick="history.back()">Retour</button>

	<h1>Les details de l'affectation</h1>

	<p th:text="${affectation.collaborator.firstName + ' ' + affectation.collaborator.lastName}">
	<p th:text="${affectation.restaurant.name}"></p>
	<p th:text="${affectation.job.name}"></p>
	<p th:text="${affectation.startDate}"></p>
	<p th:text="${affectation.endDate}"></p>

	<footer th:replace="~{layout :: page_footer}"></footer>
</body>

</html>