<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body>
	<nav th:replace="~{layout :: page_navbar}"></nav>

	<div class="container">

		<h1>La liste des affectations</h1>

		<a class="btn btn-primary mb-3" href="/affectations/create">Créer une affectation</a>

		<form method="get" action="/affectations">
			<table>
				<thead>
					<tr>
						<th>Restaurant</th>
						<th>Ville</th>
						<th>Collaborateur</th>
						<th>Poste</th>
						<th>Début</th>
						<th>Fin</th>
						<th></th>
					</tr>
					<tr>
						<th>
							<input type="text" , name="restaurantName" class="form-control form-control-sm"
								placeholder="Nom du restaurant" th:value="${selectedRestaurantName}">
						</th>
						<th>
							<input type="text" name="city" class="form-control form-control-sm" placeholder="Ville..."
								th:value="${selectedCity}">
						</th>
						<th>
							<input type="text" name="collaboratorName" class="form-control form-control-sm"
								placeholder="Nom ou prénom" th:value="${selectedCollaborator}">
						</th>
						<th>
							<select name="jobId" class="form-select form-select-sm">
								<option value="">Tous</option>
								<option th:each="j : ${jobs}" th:value="${j.id}" th:text="${j.name}"
									th:selected="${j.id == selectedJobId}">
								</option>
							</select>
						</th>
						<th>
							<input type="date" name="startDate" class="form-control form-control-sm"
								th:value="${selectedStartDate}">
						</th>
						<th>
							<input type="date" name="endDate" class="form-control form-control-sm"
								th:value="${selectedEndDate}">
						</th>
						<th>
							<div class="d-flex gap-2">
								<button type="submit" class="btn btn-success btn-sm">Filtrer</button>
								<a href="/affectations" class="btn btn-secondary btn-sm">Réinitialiser</a>
							</div>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="affectation : ${affectations}">

						<td th:text="${affectation.restaurant.name}"></td>
						<td th:text="${affectation.restaurant.city}"></td>

						<td th:text="${affectation.collaborator.lastName + ' ' + affectation.collaborator.firstName}">
						</td>
						<td th:text="${affectation.job.name}"></td>
						<td th:text="${affectation.startDate}"></td>
						<td th:text="${affectation.endDate}"></td>
						<td class="d-flex align-items-center gap-2">
							<a class="btn btn-info" th:href="@{affectations/{id}(id=${affectation.id})}">Détail</a>
							<a class="btn btn-primary"
								th:href="@{affectations/update/{id}(id=${affectation.id})}">Modifier</a>
							<a class="btn btn-danger d-flex text-nowrap" th:if="${affectation.endDate == null}"
								th:href="@{affectations/end/{id}(id=${affectation.id})}"
								onclick="return confirm('Mettre fin à cette affectation ?')">Fin d'affectation</a>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<footer th:replace="~{layout :: page_footer}"></footer>
</body>

</html>