<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body>

	<nav th:replace="~{layout :: page_navbar}"></nav>

	<button type="button" class="btn btn-secondary" onclick="history.back()">Retour</button>

	<h1>Creation d'un collaborateur :</h1>


	<form method="post" th:object="${collaboratorDto}">
		<div class="container card" style="width: 40%; padding: 12px;">
			<div class="mb-3">
				<label for="collaboratorFirstName" class="form-label">Prenom :</label>
				<div>
					<input type="text" class="form-control" id="collaboratorFirstName" placeholder="ex: Albert"
						th:field="*{firstName}">
					<p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
				</div>
			</div>

			<div class="mb-3">
				<label for="collaboratorLastName" class="form-label">Nom :</label>
				<input type="text" class="form-control" id="collaboratorLastName" placeholder="ex: Dupont"
					th:field="*{lastName}">
				<p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
			</div>

			<div class="mb-3">
				<label for="collaboratorEmail" class="form-label">Email :</label>
				<input type="text" class="form-control" id="collaboratorEmail" placeholder="ex: john.doe@wacdo.com"
					th:field="*{email}">
				<p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
			</div>

			<div class="mx-auto">
				<button type="submit" class="btn btn-primary">Ajouter</button>
				<a class="btn btn-outline-primary" href="/collaborator">Annuler</a>
			</div>
		</div>
	</form>

	<footer th:replace="~{layout :: page_footer}"></footer>
</body>

</html>