<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body>

	<nav th:replace="~{layout :: page_navbar}"></nav>
	<div class="container">
		<h1>La liste des collaborateurs</h1>

		<div class="actions">
			<a class="btn btn-primary mb-3" href="/collaborators/create">Creer un collaborateur</a>
		</div>

		<form th:action="@{/collaborators}" method="get" class="mb-3">
			<input type="text" name="keyword" class="form-control mb-3"
				placeholder="Rechercher par prénom, nom ou email" th:value="${keyword}">


			<button type="submit" class="btn btn-primary">Rechercher</button>

			<a th:href="@{/collaborators}" class="btn btn-outline-secondary">Réinitialiser</a>

			<a th:href="@{/collaborators?unassigned=true}" class="btn btn-warning">Non affectés</a>

		</form>

		<table>
			<thead>
				<tr>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Adresse mail</th>
					<th>Date d'embauche</th>
					<th class="text-center">Actions
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="collaborator : ${collaborators}">
					<td th:text="${collaborator.firstName}"></td>
					<td th:text="${collaborator.lastName}"></td>
					<td th:text="${collaborator.email}"></td>
                    <td th:text="${#temporals.format(collaborator.hireDate, 'dd/MM/yyyy')}"></td>
                    <td class="text-center">
						<div class="table-actions">
							<a class="btn btn-info" th:href="@{collaborators/{id}(id=${collaborator.id})}">
								Detail
							</a>
							<a class="btn btn-primary" th:href="@{collaborators/update/{id}(id=${collaborator.id})}">
								Modifier
							</a>
							<a class="btn btn-danger" th:href="@{collaborators/delete/{id}(id=${collaborator.id})}"
								onclick="return confirm('Etes-vous sur de vouloir supprimer ?')">
								Supprimer
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<footer th:replace="~{layout :: page_footer}"></footer>
</body>

</html>