<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body>

	<nav th:replace="~{layout :: page_navbar}"></nav>

	<h1 style="display: flex; justify-content: center; align-items: center; margin-top: 25vh;">
        Connectez-vous pour accéder à l'application,
    </h1>

    <h1 style="display: flex; justify-content: center; align-items: center;">
        ensuite utilisez le menu pour naviguer
    </h1>


	<footer th:replace="~{layout :: page_footer}"></footer>
</body>

</html>